<ul>
    <% myCreatures.forEach((creature, i) => { %>
        <li> 
            <%= creature.type %> 
            <img src = <%= creature.img_url %> >
            <form action="/prehistoric_creatures/<%= i %>/?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>

    <% }) %>
</ul>
