<form action="/prehistoric_creatures" method="post">
    <div>
        <label for="creatureType">Type:</label>
        <!-- the name="" is what becomes the key in a key-value pair -->
        <input type="text" name="type" id="creatureType">
    </div>

    <div>
        <label for="creatureURL">IMG URL:</label>
        <input type="text" name="url" id="creatureURL">
    </div>

    <button type="submit">Add a New Prehistoric Creature!</button>
    <!-- or an input of type submit -->
</form>
