<!-- action is the url where -->
<!-- method is the http verb or where you want the app to go next once the form has been submited -->
<form action="/dinosaurs/<%=dinoId%>/?_method=PUT" method="POST">
    <div>
        <label for="dinosaurType">Type:</label>
        <!-- the name="" is what becomes the key in a key-value pair -->
        <input type="text" name="type" id="dinosaurType" value="<%=dino.type%>">
    </div>

    <div>
        <label for="dinosaurName">Name:</label>
        <input type="text" name="name" id="dinosaurName" value="<%=dino.name%>">
    </div>

    <button type="submit">Update This Dino!</button>
    <!-- or an input of type submit -->
</form>
